In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
%matplotlib inline

In [2]:
dateCols = ['Timestamp']
df = pd.read_csv("log.csv", parse_dates=dateCols)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6603 entries, 0 to 6602
Data columns (total 5 columns):
CaseID       6603 non-null int64
Activity     6603 non-null object
EventType    6603 non-null object
Resource     6603 non-null object
Timestamp    6603 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 258.1+ KB

In [3]:
df.sort_values(by=['Timestamp']).head(10)

      CaseID    Activity EventType Resource               Timestamp
4230      49  Activity 1    assign  Role #1 2020-01-14 03:37:36.348
2877      50  Activity 1    assign  Role #1 2020-01-14 03:53:50.271
2925      51  Activity 1    assign  Role #1 2020-01-14 03:57:29.276
3867      52  Activity 1    assign  Role #1 2020-01-14 03:57:55.117
3849      53  Activity 1    assign  Role #1 2020-01-14 04:06:29.331
3882      54  Activity 1    assign  Role #1 2020-01-14 04:24:50.828
3783      55  Activity 1    assign  Role #1 2020-01-14 04:31:22.802
3717      56  Activity 1    assign  Role #1 2020-01-14 04:34:20.811
3684      57  Activity 1    assign  Role #1 2020-01-14 04:36:49.615
3126      58  Activity 1    assign  Role #1 2020-01-14 04:49:42.787

In [4]:
df.sort_values(by=['Timestamp']).tail(10)

      CaseID    Activity EventType Resource               Timestamp
5699     438  Activity 8  complete  Role #4 2020-06-05 05:52:36.958
6161     434  Activity 8  complete  Role #4 2020-06-05 06:09:35.564
6046     427  Activity 8     start  Role #4 2020-06-05 06:24:14.008
1372     439  Activity 8     start  Role #4 2020-06-05 07:03:53.473
6047     427  Activity 8  complete  Role #4 2020-06-05 07:03:53.473
1373     439  Activity 8  complete  Role #4 2020-06-05 07:40:36.174
5263     445  Activity 8     start  Role #4 2020-06-05 08:37:25.468
844      446  Activity 8     start  Role #4 2020-06-05 08:42:00.463
845      446  Activity 8  complete  Role #4 2020-06-09 05:11:58.416
5264     445  Activity 8  complete  Role #4 2020-06-09 05:20:47.559

In [7]:
day_counter_map = { ("Role #1","Monday"):0,
                    ("Role #1","Tuesday"):0,
                    ("Role #1","Wednesday"):0,
                    ("Role #1","Thursday"):0,
                    ("Role #1","Friday"):0,
                    ("Role #1","Saturday"):0,
                    ("Role #1","Sunday"):0,
                    ("Role #2","Monday"):0,
                    ("Role #2","Tuesday"):0,
                    ("Role #2","Wednesday"):0,
                    ("Role #2","Thursday"):0,
                    ("Role #2","Friday"):0,
                    ("Role #2","Saturday"):0,
                    ("Role #2","Sunday"):0,
                    ("Role #3","Monday"):0,
                    ("Role #3","Tuesday"):0,
                    ("Role #3","Wednesday"):0,
                    ("Role #3","Thursday"):0,
                    ("Role #3","Friday"):0,
                    ("Role #3","Saturday"):0,
                    ("Role #3","Sunday"):0,
                    ("Role #4","Monday"):0,
                    ("Role #4","Tuesday"):0,
                    ("Role #4","Wednesday"):0,
                    ("Role #4","Thursday"):0,
                    ("Role #4","Friday"):0,
                    ("Role #4","Saturday"):0,
                    ("Role #4","Sunday"):0,
                                             }

In [32]:
for index, row in df.iterrows():
    role = row['Resource']
    day = row['Timestamp'].strftime("%A")
    tup = (role,day)
    day_counter_map[tup] += 1

In [33]:
day_counter_map

{('Role #1', 'Monday'): 539,
 ('Role #1', 'Tuesday'): 579,
 ('Role #1', 'Wednesday'): 580,
 ('Role #1', 'Thursday'): 604,
 ('Role #1', 'Friday'): 98,
 ('Role #1', 'Saturday'): 0,
 ('Role #1', 'Sunday'): 0,
 ('Role #2', 'Monday'): 369,
 ('Role #2', 'Tuesday'): 558,
 ('Role #2', 'Wednesday'): 360,
 ('Role #2', 'Thursday'): 522,
 ('Role #2', 'Friday'): 0,
 ('Role #2', 'Saturday'): 0,
 ('Role #2', 'Sunday'): 0,
 ('Role #3', 'Monday'): 96,
 ('Role #3', 'Tuesday'): 48,
 ('Role #3', 'Wednesday'): 834,
 ('Role #3', 'Thursday'): 216,
 ('Role #3', 'Friday'): 0,
 ('Role #3', 'Saturday'): 0,
 ('Role #3', 'Sunday'): 0,
 ('Role #4', 'Monday'): 41,
 ('Role #4', 'Tuesday'): 266,
 ('Role #4', 'Wednesday'): 405,
 ('Role #4', 'Thursday'): 289,
 ('Role #4', 'Friday'): 199,
 ('Role #4', 'Saturday'): 0,
 ('Role #4', 'Sunday'): 0,
 'tup': 1}

In [41]:
max_value = max(day_counter_map.values())
# min_threshold represents the labour of 7.5% on the max day, any less, should be considered an anomaly
min_threshold = int(max_value * .075)
min_threshold

62

In [45]:
non_working_days = []
for role_day, quantity in day_counter_map.items():
    if quantity <= min_threshold:
        non_working_days.append(role_day)
for day in non_working_days:
    day_counter_map.pop(day, None)
day_counter_map

{('Role #1', 'Monday'): 539,
 ('Role #1', 'Tuesday'): 579,
 ('Role #1', 'Wednesday'): 580,
 ('Role #1', 'Thursday'): 604,
 ('Role #1', 'Friday'): 98,
 ('Role #2', 'Monday'): 369,
 ('Role #2', 'Tuesday'): 558,
 ('Role #2', 'Wednesday'): 360,
 ('Role #2', 'Thursday'): 522,
 ('Role #3', 'Monday'): 96,
 ('Role #3', 'Wednesday'): 834,
 ('Role #3', 'Thursday'): 216,
 ('Role #4', 'Tuesday'): 266,
 ('Role #4', 'Wednesday'): 405,
 ('Role #4', 'Thursday'): 289,
 ('Role #4', 'Friday'): 199}

In [56]:
days_worked = list(day_counter_map.values())
tuples = list(day_counter_map.keys())
roles = []
day_of_week = []
for tup in tuples:
    role, day = tup
    roles.append(role)
    day_of_week.append(day)
day_of_week

['Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Monday',
 'Wednesday',
 'Thursday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday']

In [59]:
new_df = pd.DataFrame()