In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
%matplotlib inline

In [5]:
dateCols = ['Timestamp']
df = pd.read_csv("log.csv", parse_dates=dateCols)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6603 entries, 0 to 6602
Data columns (total 5 columns):
CaseID       6603 non-null int64
Activity     6603 non-null object
EventType    6603 non-null object
Resource     6603 non-null object
Timestamp    6603 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 258.0+ KB

In [8]:
df.sort_values(by=['Timestamp']).head(10)

      CaseID    Activity EventType Resource               Timestamp
4230      49  Activity 1    assign  Role #1 2020-01-14 03:37:36.348
2877      50  Activity 1    assign  Role #1 2020-01-14 03:53:50.271
2925      51  Activity 1    assign  Role #1 2020-01-14 03:57:29.276
3867      52  Activity 1    assign  Role #1 2020-01-14 03:57:55.117
3849      53  Activity 1    assign  Role #1 2020-01-14 04:06:29.331
3882      54  Activity 1    assign  Role #1 2020-01-14 04:24:50.828
3783      55  Activity 1    assign  Role #1 2020-01-14 04:31:22.802
3717      56  Activity 1    assign  Role #1 2020-01-14 04:34:20.811
3684      57  Activity 1    assign  Role #1 2020-01-14 04:36:49.615
3126      58  Activity 1    assign  Role #1 2020-01-14 04:49:42.787

In [9]:
df.sort_values(by=['Timestamp']).tail(10)

      CaseID    Activity EventType Resource               Timestamp
5699     438  Activity 8  complete  Role #4 2020-06-05 05:52:36.958
6161     434  Activity 8  complete  Role #4 2020-06-05 06:09:35.564
6046     427  Activity 8     start  Role #4 2020-06-05 06:24:14.008
1372     439  Activity 8     start  Role #4 2020-06-05 07:03:53.473
6047     427  Activity 8  complete  Role #4 2020-06-05 07:03:53.473
1373     439  Activity 8  complete  Role #4 2020-06-05 07:40:36.174
5263     445  Activity 8     start  Role #4 2020-06-05 08:37:25.468
844      446  Activity 8     start  Role #4 2020-06-05 08:42:00.463
845      446  Activity 8  complete  Role #4 2020-06-09 05:11:58.416
5264     445  Activity 8  complete  Role #4 2020-06-09 05:20:47.559