In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
%matplotlib inline

In [3]:
df = pd.read_csv("log.csv")
df

      CaseID    Activity EventType Resource                Timestamp
0        409  Activity 1    assign  Role #1  2020-01-17T09:54:18.383
1        409  Activity 1     start  Role #1  2020-03-16T02:20:35.976
2        409  Activity 1  complete  Role #1  2020-03-16T02:38:22.623
3        409  Activity 2    assign  Role #1  2020-03-16T02:38:22.623
4        409  Activity 2     start  Role #1  2020-04-23T04:33:23.547
5        409  Activity 2  complete  Role #1  2020-04-23T04:48:37.510
6        409  Activity 6    assign  Role #3  2020-04-23T04:48:37.510
7        409  Activity 6     start  Role #3  2020-04-23T04:48:37.510
8        409  Activity 6  complete  Role #3  2020-04-23T05:02:35.816
9        409  Activity 7    assign  Role #3  2020-04-23T05:02:35.816
10       409  Activity 7     start  Role #3  2020-04-23T05:02:35.816
11       409  Activity 7  complete  Role #3  2020-04-23T05:30:00.021
12       409  Activity 8    assign  Role #4  2020-04-23T05:30:00.021
13       409  Activity 8     start  Role #4  2020-05-28T07:24:30.482
14       409  Activity 8  complete  Role #4  2020-05-28T08:28:46.314
15       405  Activity 1    assign  Role #1  2020-01-17T09:19:12.015
16       405  Activity 1     start  Role #1  2020-03-12T03:49:36.166
17       405  Activity 1  complete  Role #1  2020-03-16T02:07:04.047
18       405  Activity 2    assign  Role #1  2020-03-16T02:07:04.047
19       405  Activity 2     start  Role #1  2020-04-23T04:21:28.660
20       405  Activity 2  complete  Role #1  2020-04-23T04:29:04.110
21       405  Activity 6    assign  Role #3  2020-04-23T04:29:04.110
22       405  Activity 6     start  Role #3  2020-04-23T04:29:04.110
23       405  Activity 6  complete  Role #3  2020-04-23T04:40:10.353
24       405  Activity 7    assign  Role #3  2020-04-23T04:40:10.353
25       405  Activity 7     start  Role #3  2020-04-23T04:40:10.353
26       405  Activity 7  complete  Role #3  2020-04-23T04:54:01.599
27       405  Activity 8    assign  Role #4  2020-04-23T04:54:01.599
28       405  Activity 8     start  Role #4  2020-05-27T08:01:39.282
29       405  Activity 8  complete  Role #4  2020-05-27T08:44:17.992
...      ...         ...       ...      ...                      ...
6573     272  Activity 2    assign  Role #1  2020-02-24T03:53:15.156
6574     272  Activity 2     start  Role #1  2020-04-14T04:45:28.480
6575     272  Activity 2  complete  Role #1  2020-04-14T04:56:29.651
6576     272  Activity 6    assign  Role #3  2020-04-14T04:56:29.651
6577     272  Activity 6     start  Role #3  2020-04-15T04:26:05.994
6578     272  Activity 6  complete  Role #3  2020-04-15T04:33:55.375
6579     272  Activity 7    assign  Role #3  2020-04-15T04:33:55.375
6580     272  Activity 7     start  Role #3  2020-04-15T05:40:26.595
6581     272  Activity 7  complete  Role #3  2020-04-15T05:59:20.678
6582     272  Activity 8    assign  Role #4  2020-04-15T05:59:20.678
6583     272  Activity 8     start  Role #4  2020-05-07T07:15:52.540
6584     272  Activity 8  complete  Role #4  2020-05-07T08:00:34.201
6585     293  Activity 1    assign  Role #1  2020-01-16T07:32:45.680
6586     293  Activity 1     start  Role #1  2020-02-26T03:16:05.997
6587     293  Activity 1  complete  Role #1  2020-02-26T03:37:36.480
6588     293  Activity 2    assign  Role #1  2020-02-26T03:37:36.480
6589     293  Activity 2     start  Role #1  2020-04-15T04:29:59.052
6590     293  Activity 2  complete  Role #1  2020-04-15T04:38:39.460
6591     293  Activity 3    assign  Role #2  2020-04-15T04:38:39.460
6592     293  Activity 3     start  Role #2  2020-04-15T04:48:04.647
6593     293  Activity 3  complete  Role #2  2020-04-15T05:01:56.755
6594     293  Activity 4    assign  Role #2  2020-04-15T05:01:56.755
6595     293  Activity 5    assign  Role #2  2020-04-15T05:01:56.755
6596     293  Activity 4     start  Role #2  2020-04-15T05:09:32.887
6597     293  Activity 5     start  Role #2  2020-04-15T05:12:17.017
6598     293  Activity 5  complete  Role #2  2020-04-15T05:16:31.126
6599     293  Activity 4  complete  Role #2  2020-04-15T05:25:01.348
6600     293  Activity 8    assign  Role #4  2020-04-15T05:25:01.348
6601     293  Activity 8     start  Role #4  2020-05-06T05:35:01.766
6602     293  Activity 8  complete  Role #4  2020-05-06T06:23:57.407

[6603 rows x 5 columns]